<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Booksy - Add Books</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron animated fadeIn">
      <form class="form-inline text-center" action="" method="post" id="form-add">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Book Title/ISBN..." name="book" id="add-txt">
          <input type="submit" class="btn btn-success" value="Add Book" id="add-btn">
        </div>
      </form>
    </div>
    <% if (books) { %>
      <% for (var i = 0; i < books.length; i++) { %>
        <form name="form<%=i%>" method="post" action="/add/delete">
          <input type="hidden" name="title" value="<%=books[i].title%>"/>
          <input type="hidden" name="author" value="<%=books[i].author%>"/>
          <div class="book">
            <i class="fa fa-times remove" data-toggle="tooltip" title="Remove" onclick="form<%=i%>.submit()"></i>
            <h1><%=books[i].title%></h1>
            <img src='<%=books[i].image_url%>' class="center"/>
            <h2><%=books[i].author%></h2>
          </div>
        </form>
      <% } %>
    <% } %>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
  <script src="/controllers/bookController.client.js"></script>
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</body>
</html>
