<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Suptonight - Search</title>
</head>
<body>
  <% include /partials/header %>
  <span class="fa fa-spinner fa-spin fa-5x spinner" id="spinner"></span>
  <div class="container">
    <div class="jumbotron animated fadeIn">
      <form class="form-inline text-center" action="" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Location..." name="location">
          <input type="submit" class="btn btn-success" value="Search">
        </div>
      </form>
      <% if (businesses) { %>
        <% for (var i in businesses) { %>
          <div class="place row">
            <div class="col-md-3">
                <img src="<%=businesses[i].rating_img_url%>" class="place-rating">
                <img src="<%=businesses[i].image_url%>" class="place-img">
                <% if (businesses[i].people_going == 1) { %>
                  <h4 class="txt-going">1 person going</h4>
                <% } %>
                <% if (businesses[i].people_going != 1){ %>
                  <h4 class="txt-going"><%=businesses[i].people_going%> people going</h4>
                <% } %>
            </div>
            <div class="col-md-9">
              <h4><a href="<%=businesses[i].url%>"><%=businesses[i].name%></a></h4>
              <blockquote>
                <%=businesses[i].snippet_text%>
                <img src="<%=businesses[i].snippet_image_url%>" class="place-rating-img">
              </blockquote>
              <input type="button" class="btn btn-default btn-going" value="I'm Going!">
              <input type="hidden" class="hidden-going" value="<%=businesses[i].id%>">
            </div>
          </div>
          <hr>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
  <script src="/controllers/searchController.client.js"></script>
</body>
</html>
